<template>
    <div>
        {{saludo}}
    </div>
</template>
<script>        
    export default {
        data(){            
            return{
                saludo:"Hola Mundo"
            }            
        }
    }
</script>